.anim_loader_in{
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: black;
  animation-name: reveal_in;
  animation-duration: 1s;
}
.anim_loader_image_in{
  opacity: 1;
  position: absolute;
  top: 27%;
  left: 40%;
  height: 40%;
  width: auto;
  z-index: 10;
  animation-name: reveal_in;
  animation-duration: 1s;
}

@keyframes reveal_in {
    0%   {opacity: 0;}
    100%  {opacity: 1;}
}


.anim_loader_out{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: black;
    animation-name: reveal_out;
    animation-duration: 1s;
  }
  .anim_loader_image_out{
    opacity: 0;
    position: absolute;
    top: 27%;
    left: 40%;
    height: 40%;
    width: auto;
    z-index: 10;
    animation-name: reveal_out;
    animation-duration: 1s;
  }
  
  @keyframes reveal_out {
      0%   {opacity: 1;}
      100%  {opacity: 0;}
  }