.anim_loader_in{
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: black;
  animation-name: reveal_in;
  animation-duration: 0.1s;
}
.anim_loader_image_in{
  opacity: 1;
  position: absolute;
  top: 25%;
  left: 37%;
  height: auto;
  width: 25%;
  z-index: 10;
  animation-name: reveal_in;
  animation-duration: 0.2s;
}

@keyframes reveal_in {
    0%   {opacity: 0;}
    100%  {opacity: 1;}
}


.anim_loader_out{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    background-color: black;
    animation-name: reveal_out;
    animation-duration: 2s;
  }
  .anim_loader_image_out{
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 37%;
    height: auto;
    width: 25%;
    z-index: -10;
    animation-name: reveal_out;
    animation-duration: 2s;
  }
  
  @keyframes reveal_out {
      0%   {opacity: 1;
        z-index: 10;
      }
      100%  {opacity: 0;
        z-index: -10;
      }
  }

.backgroundOverlayLayer{
  z-index: -5;
  height: 100%;
  width: 100%;
  position: fixed absolute;
  background: black;
}

.blackBackground{
  background-color: black;
}
.loginFrame{
  position: absolute;
  height: 50%;
  width: 20%;
  top: 25%;
  left: 40%;
  border-radius: 40px;
  background-color: #140004;
  box-shadow: 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}

.loginFrameIco{
  position: absolute;
  padding: 0.5%;
  z-index: 1;
  height: auto;
  width: 40%;
  left: 30%;
  top: 5%;
}

.btn-glow{
  position: absolute;
  box-shadow: 0 0 25px #ff96ad;
  background: #000001;
  width: 20%;
  height: 10%;
  border-radius: 10px;
  top: 70%;
  left: 40%;
}

.btn-glow:hover{
  box-shadow: 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}

#loginButtonText{
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  color: #ff96ad;
}



.navIco{
  padding: 0.5%;
  z-index: 1;
  height: 75px;
  width: auto;
}

.navText{
  color: white;
  text-decoration: none;
  font-size: medium;
  position: absolute;
  top: 5%;
  left: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.textColor{
  color: #52f8b4;
}

.roundElementFrame{
  background-color: #3d3838;
  border-radius: 15px;
  border: 1px solid #52f8b4;
}